<div id="login_form">
  <% form_tag session_path do -%>
  <table>
    <tr>
      <td></td>
      <td>
        <%= flash[:error] %>&nbsp;
      </td>
    </tr>
    <tr>
      <td class="description">Login</td>
      <td><%= text_field_tag 'login', @login %></td>
    </tr>
    <tr>
      <td class="description">Password</td>
      <td><%= password_field_tag 'password', nil %></td>
    </tr>
    <tr>
      <td></td>
      <td class="right"><%= submit_tag 'log in' %></td>
    </tr>
  </table>
  <% end -%>
</div>