*.log
database.yml
schema.rb
.DS_Store
doc/app
coverage
coverage.data
.project
db/updates/
lib/chaos_calendar/Makefile
lib/chaos_calendar/ical_occurrences.bundle
lib/chaos_calendar/ical_occurrences.o
lib/chaos_calendar/ical_occurrences_wrap.c
lib/chaos_calendar/ical_occurrences_wrap.o