[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/awesome_nested_set"]
	path = vendor/awesome_nested_set
	url = git://github.com/collectiveidea/awesome_nested_set.git
