<h1>Create new node</h1>

<% form_for @node do |f| %>
  <p>
    <%= f.label 'Parent node' %><br />
    <%= text_field_tag :parent_unique_name %>
  </p>
  <p>
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </p>
<% end %>