<h1>Nodes</h1>

<table>
  <% @nodes.each do |node| %>
  <tr>
    <td><%= link_to node.unique_name, node_path(node) %></td>
    <td><%= link_to 'Edit', edit_node_path(node) %></td>
  </tr>
  <% end %>
</table>