<% if params[:search_term] %>
  <h2>Suchergebnisse für Suchbegriff: <%=h params[:search_term] %></h2>
<% end %>

<%=
  render(
    :partial => 'search_result',
    :collection => @results,
    :as => :node
  )
%>
