<% content_for :subnavigation do %>
  <%= link_to "new", new_menu_item_path %>
<% end %>


<h1>Menu Items</h1>

<ul>
  <% @menu_items.each do |menu_item| %>
  <li><%= menu_item.title %></li>
  <% end %>
</ul>