<h1>Menu Items</h1>

<ul>
  <% @menu_items.each do |menu_item| %>
  <li><%= menu_item.title %></li>
  <% end %>
</ul>

<div id="menu_item_search">
  <div>
    <% form_tag admin_search_path do %>
      <span>Add menu item: </span><%= text_field_tag :search_term %>
    <% end %>
  </div>
  <div id="search_results">
    
  </div>
</div>