body {
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 11px;
}

a {
  color: #009cff;
}

table {}

table#node_table {
  border-collapse: collapse;
  width: 880px;
}

table#node_table tr.table_headers {
  height: 20px;
}

table#node_table th {
  padding-left: 15px;
}

table#node_table tr {
  height: 65px;
}

table#node_table tr.odd:hover, table#node_table tr.even:hover {
  background-color: #E4F2FD;
}

table#node_table td h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}

table#node_table td p {
  margin-top: 0px;
  margin-bottom: 0px;
}

table#node_table td a {
  text-decoration: none;
}

table#node_table td a:hover {
  text-decoration: underline;
}

tr.even {
  border: 1px solid #808080;
}

tr.odd {
  border: 1px solid #808080;
  background-color: #f5f5f5;
}

th {
  text-align: left;
}

th.node_id {
  width: 30px;
}

th.title {
  width: 450px;
}


th.path {
}

th.actions {
  width: 150px;
}

th.editor {
  width: 150px;
}

th.revision {
  width: 30px;
}

td {
  padding-left: 15px;
  padding-right: 0px;
}

td.title {
  font-size: 11px;
}

td.path {
  font-size: 11px;
}

td.actions {
  font-size: 11px;
}


td div.actions {
  padding-top: 5px;
}

input[type=text] {
  width: 300px;
}

.page_editor input[type=text] {
  width: 600px;
}

.page_editor textarea {
  width: 600px;
}

#navigation {
  height: 40px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 20px;
  line-height: 30px;
}

#subnavigation {
  font-size: 15px;
  padding-top: 10px;
}

#navigation a {
  text-decoration: none;
}

#diffview {
  width: 1024px;
}