body {
  font-family: Arial, sans-serif;
  font-size: 10pt;
}

a {
  color: #009cff;
}

table {}

table#node_table {
  width: 1000px;
}

tr.odd {
  background-color: #f1f1f1;
}

th {
  text-align: left;
}

th.title {
  width: 370px;
}

th.path {
  width: 300px;
}

th.actions {
  width: 180px;
}

th.editor {
  width: 120px;
}

th.revision {
  width: 30px;
}

td {
  padding: 3px;
}

input[type=text] {
  width: 300px;
}

.page_editor input[type=text] {
  width: 600px;
}

.page_editor textarea {
  width: 600px;
}

#navigation {
  height: 40px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 20px;
  line-height: 30px;
}

#subnavigation {
  font-size: 15px;
  padding-top: 10px;
}

#navigation a {
  text-decoration: none;
}

#diffview {
  width: 1024px;
}