body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 9pt;
}

a {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #ff9600;
}

pre {
  overflow: auto;
}

div#wrapper {
  position: relative;
  width: 909px;
  margin-left: 90px;
  text-align: left;
}

div#header {
  height: 224px;
}

div#main_navigation ul {
  margin-left: 0;
  padding-left: 0;
}

div#main_navigation li {
  list-style-type: none;
}

div#main_navigation a {
  text-decoration: none;
  font-size: 18px;
  color: #d1d1d1;
}

div#main_navigation a:hover {
  color: #535353;
}

div#main_navigation a.active {
  color: #535353;
}

div#frontpage_calendar {
}

div#frontpage_calendar h2 {
  border-top: 2px solid #000000;
  border-bottom: 2px dashed #000000;
  font-size: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
}

div#frontpage_calendar ul {
  padding: 0px;
}

div#frontpage_calendar li {
  list-style-type: none;
  margin-bottom: 20px;
}

div#frontpage_calendar li a {
  text-decoration: none;
  color: #535353;
}

div#frontpage_calendar li a:hover {
  text-decoration: none;
  color: #ff9600;
}


div.author_and_date {
  font-style: italic;
}

div#left_column {
  position: absolute;
  background-image: url(/images/left_column.png);
  background-position: top right;
  background-repeat: no-repeat;
  left: 0px;
  width: 115px;
  min-height: 100px;
  text-align: right;
  padding-right: 70px;
}


div#center_column {
  position: absolute;
  background-color: #ffffff;
  left: 200px;
  width: 460px;
  padding-left: 15px;
  padding-right: 15px; 
}

div#center_column h2 a {
  font-size: 12pt;
}

div#right_column {
  position: absolute;
  background-color: #ffffff;
  padding-left: 70px;
  left: 676px;
  width: 115px; 
  height: 100px;
}

div.teaser_ruler {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px dashed #CCCCCC;
  height: 3px;
  margin-top: 30px;
}

div.article_partial h2 a {
  text-decoration: none;
}

div.article_partial p.excerpt {
  color: #404040;
}

div#search {
  position: absolute;
  top: 145px;
  left: 676px;
  height: 1000px;
  vertical-align: top;
}

div#search input[type=button] {
  display: block;
  height: 20px;
}

div#search input[type=text] {
  display: block;
  padding: 0px;
  margin: 0px;
  height: 20px;
  width: 132px;
  line-height: 20px;
  border: none;
  background-image: url(/images/search_field.png);
  background-repeat:no-repeat;
  padding-right: 5px;
  margin-right: 5px;
  background-position: top top;
}