body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 16px;
  background-color: #ffffff;
  color: #535353;
}

h2 {
  font-size: 15px;
  line-height: 22px;
  font-family: Helvetica;
}

a {
  color: #535353;
  text-decoration: underline;
}

a:visited {
  color: #535353;
}

a:hover {
  color: #535353;
}

pre {
  overflow: auto;
}

div#wrapper {
  position: relative;
  width: 909px;
  margin-left: 90px;
  text-align: left;
}

div#header {
  height: 224px;
}

div#header img {
  border: none;
}

/*------------------main-navigation-------------------*/

div.main_navigation ul {
  margin-left: 0;
  padding-left: 0;
  line-height: 18px;
}

div.main_navigation li {
  list-style-type: none;
}

div.main_navigation a {
  text-decoration: none;
  font-size: 14px;
}

div.main_navigation a.inactive:hover {
  color: #F8921E;
}

div.main_navigation a.active {
  color: #000000;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 13px;
}

div.main_navigation a.inactive {
  color: #CCCCCC;
  text-transform: lowercase;
  font-size: 13px;
}

/*------------------calendar-featured-tags-------------------*/

div#frontpage_calendar {
  margin-top: 30px;
}

div#frontpage_calendar h2, div#tags h2, div#featured_articles h2 {
  color: #CCCCCC;
  border-top: 2px solid #CCCCCC;
  border-bottom: 2px solid #CCCCCC;
  font-size: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
}

div#frontpage_calendar ul, div#tags ul, div#featured_articles ul {
  padding: 0px;
  font-size: 11px;
}

div#frontpage_calendar li {
  margin-bottom: 20px;
}

div#frontpage_calendar li, div#tags li, div#featured_articles li {
  list-style-type: none;
}

div#frontpage_calendar li a, div#tags li a, div#featured_articles li a {
  text-decoration: none;
  color: #535353;
}

div#frontpage_calendar li a:hover, 
div#tags li a:hover, 
div#featured_articles li a:hover {
  text-decoration: none;
  color: #ff9600;
}

/*--------------------------------------------------------------*/

div.author_and_date {
  font-style: italic;
  padding-left: 15px;
  font-family: Georgia;
}

div#left_column {
  position: absolute;
  background-image: url(/images/left_column.png);
  background-position: top right;
  background-repeat: no-repeat;
  left: 0px;
  width: 115px;
  min-height: 100px;
  text-align: right;
  padding-right: 70px;
}


div#center_column {
  position: absolute;
  background-color: #ffffff;
  left: 200px;
  width: 460px;
  padding-left: 15px;
  padding-right: 15px; 
  padding-bottom: 40px;
}

div#center_column h2 a {
  font-size: 12pt;
  color: #535353;
}

div#center_column h2 a:hover {
  color: #8e8e8e;
}

div#center_column h2.headline {
  margin-top: 8px;
  border-bottom: 2px solid #cccccc;
}

div#right_column {
  position: absolute;
  background-color: #ffffff;
  padding-left: 70px;
  left: 675px;
  width: 155px; 
  height: 100px;
}

div.teaser_ruler {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px dashed #CCCCCC;
  height: 3px;
  margin-top: 30px;
}

div.article_partial {
  margin-bottom: 30px;
}

div.article_partial h2 a {
  text-decoration: none;
}

div.article_partial p.excerpt {
  color: #404040;
}

div#center_column div.body,
div#center_column div.abstract {
  font-size: 11px;
  line-height: 16px;
}

div#search {
  position: absolute;
  top: 145px;
  left: 676px;
  height: 20px;
  vertical-align: top;
}

div#search input[type=button] {
  display: block;
  height: 20px;
}

div#search input[type=text] {
  display: block;
  padding: 0px;
  margin: 0px;
  height: 20px;
  width: 132px;
  line-height: 20px;
  border: none;
  background-image: url(/images/search_field.png);
  background-repeat:no-repeat;
  padding-right: 5px;
  margin-right: 5px;
  background-position: top top;
}