<tr>
  <td><%= admin_user_item.login %></td>
  <td>
    <%= link_to "Show", user_path(admin_user_item) %>
    <%= link_to(
          "Destroy", 
          user_path(admin_user_item), 
          :method => "delete",
          :confirm => "Are you sure to delete user: #{admin_user_item.login}?"
        ) %>
  </td>
</tr>