<h1>Users</h1>

<table id="user_list">
  <tr>
    <th>login</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= link_to "show", user_path(user) %></td>
    <td>
    <% if current_user == user || current_user.admin? %>
      <%= link_to "Edit", edit_user_path(user) %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>


<% content_for :subnavigation do %>
  <%= link_to "create", new_user_path %>
<% end %>