<h1>Users</h1>

<table id="user_list">
  <tr>
    <td>login</td>
  </tr>
  <%= user_list_by_admin_status %>
</table>


<% content_for :subnavigation do %>
  <%= link_to "create", new_user_path %>
<% end %>