<table class="user_list">
  <tr>
    <td><h1>Admins</h1></td>
  </tr>
  <%= render :partial => "user", :locals => {:users => @users[:admin] ||= []} %>
  <tr>
    <td><h1>Users</h1></td>
  </tr>
  <%= render :partial => "user", :locals => {:users => @users[:user] ||= []} %>
</table>

<% content_for :subnavigation do %>
  <%= link_to "create", new_user_path %>
<% end %>