<div class="article">
  <h2 class="headline"><%= @page.title %></h2>
  <p><%= sanitize( @page.abstract ) %></p>
  <object data="/system/uploads/328/original/regional.svg" type="image/svg+xml"/>
  <%= aggregate?(@page.body) %>
</div>

<%= will_paginate(@content_collection) if @content_collection %>
