<div class="article">
  <h2 class="headline"><%= @page.title %></h2>
  <div id="headline_image"><%= headline_image %></div>
  <%= aggregate?(@page.body) %>
</div>

<%= will_paginate(@content_collection) if @content_collection %>