<div class="article_partial">
  <h2><%= link_to_path page.title, page.node.unique_name %></h2>
  <div class="author_and_date">
    <%= date_for_page page %>, <%= author_for_page page %>
  </div>
  <p class="excerpt"><%= page.abstract %></p>
  <div class="teaser_ruler"></div>
</div>