<div id="featured_articles">
  <h2>Featured</h2>
  <%= link_to(
        image_tag( 'chaosradio.png' ),
        "http://chaosradio.ccc.de/",
        :id => "chaosradio_icon"
  )%>

  <%= link_to(
        image_tag( 'ds.png' ),
        "http://ds.ccc.de/",
        :id => "ds_icon"
  )%>

  <%= link_to(
        image_tag( 'twitter.png' ),
        "https://twitter.com/chaosupdates",
        :id => "twitter_icon"
  )%>
</div>

