<div id="featured_articles">
  <h2>Featured</h2>
  <%= link_to(
        image_tag( 'chaosradio.png' ),
        "http://chaosradio.ccc.de/",
        :id => "chaosradio_icon",
        :title => "Chaosradio"
  )%>

  <%= link_to(
        image_tag( 'ds.png' ),
        "http://ds.ccc.de/",
        :id => "ds_icon",
        :title => "Datenschleuder"
  )%>

  <%= link_to(
        image_tag( 'events.png' ),
        "http://events.ccc.de/",
        :id => "events_icon",
        :title => "Events Blog"
  )%>

  <%= link_to(
        image_tag( 'twitter.png' ),
        "https://twitter.com/chaosupdates",
        :id => "twitter_icon",
        :title => "Twitter"
  )%>
</div>

