<div id="frontpage_calendar">
  <h2>Calendar</h2>
  <ul class="teasertext">
    <% occurrences.each do |occurrence| %>
      <li>
        <div><%= l occurrence.start_time.to_date, :format => :default %></div>
        <%= link_to_path occurrence.node.head.title, occurrence.node.unique_name %>
      </li>
    <% end %>
  </ul>
</div>