<table>
<% form_tag search_path, :method => 'get' do %>
  <tr>
    <td><%= text_field_tag :search_term %></td>
    <td style="padding-top: 2px"><%= image_submit_tag("search_button.png") %></td>
  </tr>
<% end %>
</table>