<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Wau Holland Stiftung</title>
<%= stylesheet_link_tag "wauland" %>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="nav"><a href="index.html">Wau Holland Stiftung</a> &nbsp;|&nbsp; <a href="aktuell.html">Aktuelles</a> &nbsp;|&nbsp; <a href="stiftung.html">Über uns</a> &nbsp;|&nbsp; <a href="kontakt.html">Kontakt</a> &nbsp;|&nbsp; <a href="english.html">Information in English</a> </div>
    <div id="bg"></div>
  </div>
  <div id="main-content">
    <div id="left-column">
      <div id="logo"><img src="images/waulogo12.png" alt="Logo" align="left" /><span class="logotxt1">Wau Holland</span> <span class="logotxt2">Stiftung</span><br />
</div>
<div class="box">
     <%= yield :layout %>
</div>
</div>
         <div id="right-column">
            <div id="main-image"><img src="images/wauland.jpg" alt="Wau Holland" /></div>
            <div class="sidebar">
              <h3>Über uns</h3>
              <p>Wir sind eine Stiftung im Umfeld des Chaos Computer Clubs, dessen Gründer der Vater und enge Freunde des verstorbenen Datenphilosophen Wau Hollands waren. Unser Wunsch ist es, die freidenkerischen Ansätze Wau Hollands zu bewahren und weiterzuführen.</p>
              <h3>Wauland ist überall!</h3>
              <div class="box">
                <ul>
                  <li><a href="http://www.ccc.de/" target="_blank">Chaos Computer Club</a></li>
                  <li><a href="http://chaosradio.ccc.de/dossier_chaotique.html" target="_blank">Hackerarchiv: Auswahl dokumentarischer Presseberichte</a></li>
                  <li><a href="http://de.wikipedia.org/wiki/Wau_Holland" target="_blank">Wau Holland auf Wikipedia (de)</a></li>
                  <li><a href="http://en.wikipedia.org/wiki/Wau_Holland" target="_blank">Wau Holland on Wikipedia (en)</a> </li>
                </ul>
        </div>
        <div id="footer"><br />
      <!--
          <a href="http://validator.w3.org/check?uri=referer" target="_blank">XHTML</a>  |  <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" target="_blank">CSS</a></div>
      -->
      </div>

      </body>
      </html>
